* {
	padding: 0;
	margin: 0;
}

main {
	max-width: 880px;
	//width: 100%;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

html {
	max-height: 100vh;
	overflow-y: auto;
	@mixin atMediumLarge {
		background-image: url('../../assets/images/relax-701362_1920.jpg');
		overflow-y: auto;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
}
