/* Mixins */

@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMediumSmall {
    @media (min-width: 620px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 730px) {
        @mixin-content;
    }
}

@define-mixin atMediumMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atMediumLarge {
    @media (min-width: 897px) {
        @mixin-content;
    }
}

@define-mixin atResponsive {
    @media (max-width: 896px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
