/* Mixins */
* {
	padding: 0;
	margin: 0;
}
html {
	max-height: 100vh;
	overflow-y: auto;
}
@media (min-width: 897px) {
	html {
		background-image: url('../../assets/images/relax-701362_1920.jpg');
		overflow-y: auto;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
}
main {
	max-width: 880px;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
/* Header/Logo Styling */
.mobile-nav {
	text-align: center;
}
@media (min-width: 897px) {
	.mobile-nav {
		margin-top: 10px;
	}
}
header {
	z-index: 2;
	width: 100%;
	margin: 40px auto 0;
	background: white;
	text-align: center;
}
@media (min-width: 897px) {
	header {
		max-width: 880px;
		width: 100%;
		height: auto;
		margin: -1px auto 0;
		position: relative;
		text-align: center;
		position: relative;
	}
}
/* Responsive Logo Styling */
.responsive-logo {
	position: relative;
	display: inline-block;
	margin: 20px auto 20px;
	text-transform: uppercase;
	font-family: 'Joti One', cursive;
	letter-spacing: 0.1em;
	font-weight: 700;
	font-size: 48px;
	text-align: center;
}
@media (min-width: 897px) {
	.responsive-logo {
		display: none;
	}
}
.responsive-logo:before {
	content: attr(data-text);
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	color: rgba(255,0,0, 0.9);
	-webkit-animation: fill-coral 2s infinite;
	        animation: fill-coral 2s infinite;
}
@media (min-width: 897px) {
	.responsive-logo:before {
		display: none;
	}
}
/* Logo Styling atMediumLarge Screens */
div.logo {
	display: none;
}
@media (min-width: 897px) {
	div.logo {
		position: relative;
		display: inline-block;
		margin: 20px auto;
		top: 0;
		left: 10px;
		text-transform: uppercase;
		font-family: 'Joti One', cursive;
		letter-spacing: 0.1em;
		font-weight: 700;
		font-size: 48px;
	}
}
/* Logo Text Animation Styling */
@media (min-width: 897px) {
	.logo:before {
		content: attr(data-text);
		position: absolute;
		overflow: hidden;
		white-space: nowrap;
		width: 0;
		color: rgba(255,0,0, 0.9);
		-webkit-animation: fill-coral 2s infinite;
		        animation: fill-coral 2s infinite;
	}
}
@-webkit-keyframes fill-coral {
	50% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
@keyframes fill-coral {
	50% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
/* Styling Social Media Icons */
svg {
	transition: all 0.5s;
}
svg:active {
	-webkit-transform: scale(1.25);
	        transform: scale(1.25);
	transition: all 0.5s;
}
.twitter:active {
	fill: #ff0000;
	-webkit-transform: rotateX(30deg) rotateY(25deg) scale(1.5);
	        transform: rotateX(30deg) rotateY(25deg) scale(1.5);
}
.pinterest:active,
.facebook:active,
.instagram:active {
	background: black;
	fill: #ff0000;
	border-radius: 50%;
	padding: 3px;
}
/* Responsive Navigation Styling */
/* Mobile Hamburger Styling */
nav.hamburger {
	display: block;
	width: 42px;
	height: 36px;
	margin: 8px 15px 15px 30px;
	position: -webkit-sticky;
	position: sticky;
	left: 100vw;
	cursor: pointer;
	z-index: 99999;
}
nav.hamburger div.line {
	width: 100%;
	height: 6px;
	margin: 0 0 6px 0;
	background: black;
	transition: opacity 0.1s, -webkit-transform 0.3s;
	transition: transform 0.3s, opacity 0.1s;
	transition: transform 0.3s, opacity 0.1s, -webkit-transform 0.3s;
}
/* End Mobile Hamburger Styling */
/* Animation classes for Hamburger Rotation Animation Styling Used in JS responsiveNav.js */
.hide {
	opacity: 0;
	-webkit-transform: translateX(42px);
	        transform: translateX(42px);
}
.animate0 {
	-webkit-transform: rotate(45deg) translateY(17px);
	        transform: rotate(45deg) translateY(17px);
}
.animate2 {
	-webkit-transform: rotate(-45deg) translateY(-17px);
	        transform: rotate(-45deg) translateY(-17px);
}
/* End Animation classes for Hamburger Rotation Animation Styling Used in JS responsiveNav.js */
/* Responsive Menu Styling */
nav.top {
	top: 0;
	left: 0;
	width: 90%;
	height: 0;
	transition: height 0.5s;
	overflow-y: visible;
	position: -webkit-sticky;
	position: sticky;
	opacity: 0;
	z-index: 1;
	transition: background 0.5s ease-in-out, opacity 0.5s;
	border-bottom: 1px solid black;
	font-family: 'Dosis', sans-serif;
}
@media (min-width: 897px) {
	nav.top {
		z-index: 4;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
		width: 100%;
		height: 60px;
	}
}
/* .show class styles the responsive menu when opened by clicking Hamburger */
nav.top.show {
	opacity: 1;
	transition: background 0.5s ease-in-out, visibility 0.5s;
	display: block !important;
	height: auto;
	margin:0 auto;
}
@media (min-width: 897px) {
	nav.top.show {
		display: none;
	}
}
/* Responsive Menu Links Styling */
nav.top ul {
	padding: 0 0 0 0;
}
nav.top li {
	list-style: none;
	text-align: center;
	width: 100%;
	padding-left: 0;
	padding-top: 10px;
}
nav.top li:first-child {
	padding-top: 0;
}
@media (min-width: 897px) {
	nav.top li:first-child {
		padding: 1rem 0.5rem;
	}
}
nav.top li:last-child {
	padding-bottom: 20px;
}
nav.top li a {
	color: black;
	font-size: 28px;
	text-decoration: none;
	font-weight: 300;
	line-height: 1.5;
}
nav.top li:first-child a {
	background: transparent;
	border: none;
	color: black;
}
nav.top li:first-child a:hover {
	color: firebrick;
}
nav.top li:first-child a.active {
	color: #838b8b;
}
@media (min-width: 897px) {
	nav.top li:first-child a.active {
		color: firebrick;
	}
}
nav.top a.active, nav.responsive-menu a:hover {
	text-decoration: underline;
	border: none;
}
nav.top a.active {
	color: #838b8b;
}
nav.top a:hover {
	color: firebrick;
}
/* End Responsive Menu Links Styling */
/* Navigation Styling */
/*nav.top {
	@mixin atMediumLarge {
		z-index: 4;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
		width: 100%;
		height: 60px;
	}
}*/
/* Hide responsive menu and hamburger @mixin atMediumLarge and wider */
@media (min-width: 897px) {
	nav.hamburger {
		display: none;
	}
}
@media (min-width: 897px) {
	nav.top ul {
		padding: 0;
		list-style: none;
		//max-width: 880px;
		//width: 100%;
		//overflow: auto;
		//margin: 0 auto;
	}
}
@media (min-width: 897px) {
	nav.top a {
		text-decoration: none;
		display: block;
	}
}
@media (min-width: 897px) {
	nav.top a.active, nav.top a:hover {
		color: firebrick;
	}
}
@media (min-width: 897px) {
	nav.top li {
		display: inline-block;
		text-align: center;
		letter-spacing: 0.1em;
		font-family: 'Dosis',sans-serif;
		font-weight: bold;
		width: 120px;
		//padding: 0.5rem;
		padding: 1rem 0.5rem;
	}
}
@media (min-width: 897px) {
	nav.top li a {
		color: black;
		font-size: 18px;
	}
}
@media (min-width: 897px) {
	nav.top li a:hover {
		color: #838b8b;
		cursor: pointer;
	}
}
/* End Navigation Styling */
/* Navigation Animation Styling .top nav */
/* Pull right and left  */
@media (min-width: 897px) {
	div.container {
		text-align: center;
		margin: 0 auto;
		//padding: 10em 3em;
		background: antiquewhite;
	}
}
@media (min-width: 897px) {
	div.container a {
		margin: 0px 10px;
		padding: 10px 10px;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
}
@media (min-width: 897px) {
	div.pull-right-left a:before, div.pull-right-left a:after {
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		content: '';
		background: #ff0000;
		opacity: 0.3;
		transition: all 0.5s;
	}
}
@media (min-width: 897px) {
	div.pull-right-left a:before {
		left: 0;
	}
}
@media (min-width: 897px) {
	div.pull-right-left a:after {
		right: 0;
	}
}
@media (min-width: 897px) {
	div.pull-right-left a:hover:before, div.pull-right-left a:hover:after {
		width: 100%;
	}
}
/* End Pull right and left  */
/* Zoom-In Image animation on Scroll */
.align-center {
	float: none;
}
.zoom-in {
	opacity: 0;
	transition: all 0.5s;
}
.align-center.zoom-in {
	-webkit-transform: translateY(-50%) scale(0.95);
	        transform: translateY(-50%) scale(0.95);
}
.zoom-in.active {
	opacity: 1;
	-webkit-transform: translateY(0%) scale(1);
	        transform: translateY(0%) scale(1);
}
/* Welcome Page Styling */
/* Syling Relating to Site Background Image */
body.welcome {
	overflow: hidden;
	font-size: 18px;
}
/* End Syling Relating to Site Background */
/* Welcome Page Wrapper */
#welcome {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	background: white;
}
@media (min-width: 897px) {
	#welcome {
		margin: 0 auto 20px;
	}
}
/* Hide so don't have two background images */
#welcome img {
	display: none;
}
/* Wrapper for welcome-item sections */
.welcome-items {
	padding: 40px 0 0;
	max-width: 880px;
	width: 90%;
	margin: 0 auto;
	background: white;
}
@media (min-width: 897px) {
	.welcome-items {
		padding: 60px 0 20px;
		width: 90%;
	}
}
/* General styling for welcome-item sections */
.welcome-items .welcome-item:first-of-type {
	margin: 20px auto 0;
}
@media (min-width: 897px) {
	.welcome-items .welcome-item:first-of-type {
		margin: 40px auto 0;
	}
}
.welcome-items .welcome-title {
	font-size: 30px;
}
@media (min-width: 530px) {
	.welcome-items .welcome-title {
		font-size: 2em;
	}
}
.welcome-items h1 {
	padding-bottom: 20px;
	color: firebrick;
	text-transform: uppercase;
}
.welcome-items p {
	padding: 0 40px;
}
.welcome-item img {
	width: 90%;
	z-index: 5;
}
.welcome-item {
	margin: 20px 0;
	width: 100%;
}
.welcome-item .description {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}
.welcome-item .title {
	color: firebrick;
	font-weight: bold;
}
/* End general styling for welcome-item sections */
/* Welcome Page social media icons section styling */
.welcome-items .social-media-icons-container {
	margin: 40px auto;
}
@media (min-width: 897px) {
	.welcome-items .social-media-icons-container {
		width: 100%;
		margin: 0 auto;
		padding: 40px 0;
	}
}
/* End Welcome Page social media icons section styling */
/* Welcome Page Find A Table Container Styling */
.welcome-items .find-a-table-container {
	margin: 0 auto 20px;
	width: 100%;
}
/* End Welcome Page Find A Table Container Styling */
/* Welcome Page Instagram Section Styling */
#welcome .welcome-items img {
	display: block;
	width: 100%;
	border: 1px solid #ddd;
}
.welcome-items .social-embed-container {
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.welcome-items .social-embed-container {
		margin: 40px auto;
	}
}
.welcome-items .instagrm-column {
	width: 100%;
	margin: 0 auto 20px;
}
@media (min-width: 620px) {
	.welcome-items .instagrm-column {
		width: 50%;
		float: left;
	}
	@media (min-width: 897px) {
		.welcome-items .instagrm-column {
			width: 33.3333%;
			float: left;
		}
	}
}
/* Welcome Page Instagram Section Styling */
/* Youtube Embedded Video Section Styling */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	overflow: hidden;
	margin: 20px auto 40px;
	width: 100%;
}
@media (min-width: 897px) {
	.video-container {
		margin: 60px auto 0;
	}
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 20px auto;
	z-index: 1;
}
/* End Youtube Embedded Video Section Styling */
/* Welcome Page Subscribe Container Section Styling */
.welcome-items .subscribe-container {
	margin: 0 auto;
	padding: 20px 0;
	width: 100%;
}
/* End Welcome Page Subscribe Container Section Styling */
/* Common CSS Properties Stylings */
.welcome-items,
.welcome-items .subscribe-container {
		text-align: center;
}
.welcome-items h1,
.welcome-items p {
	font-family: 'Dosis', sans-serif;
}
.welcome-items h1,
.welcome-item .description,
.welcome-item .address,
.welcome-item .contact-info,
.welcome-items .find-a-table-container h2,
.welcome-items .subscribe-container h2 {
	font-weight: 100;
}
.welcome-items h1,
.welcome-item .address,
.welcome-item .contact-info,
.welcome-item .title,
.welcome-item .hours,
.welcome-items .find-a-table-container,
.welcome-items .subscribe-container h2 {
	letter-spacing: 0.1em;
}
.welcome-item .description,
.welcome-item .hours {
	color: black;
}
.welcome-item .address,
.welcome-item .contact-info,
.welcome-item .title,
.welcome-item .hours {
	line-height: 1.5;
}
/* About Page Styling */
body.about {
	font-size: 18px;
}
/* About Page Wrapper */
#about {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
/* Hide so don't have two background images */
#about img {
	display: none;
}
#about .about-items img {
	display: block;
}
/* About The Place Styling */
/* Wrapper for about-item sections */
.about-items {
	padding: 40px 0 0;
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	background: white;
}
@media (min-width: 897px) {
	.about-items {
		padding: 60px 0 0;
	}
}
.about-items .about-title {
	font-size: 30px;
}
@media (min-width: 530px) {
	.about-items .about-title {
		font-size: 2em;
	}
}
.about-items h1 {
	color: firebrick;
}
.about-items h2 {
	color: black;
}
.about-items p {
	line-height: 1.5;
}
/* End About The Place Styling */
/* Style Adjustment Because of Slide Hover Images on Page */
.slide-hover .about-description {
	color: black;
}
/* About People Section Styling */
.about-people {
	width: 95%;
	margin: 0 auto;
}
.about-people h2 {
	margin: 20px auto;
	clear: both;
}
@media (min-width: 897px) {
	.about-people h2 {
		margin: 40px auto 20px;
		padding-top: 20px;
	}
}
.about-people p {
	padding: 0 20px;
}
/* End About People Section Styling */
/* About Foodand Drink Section Styling */
.about-food-and-drink {
	margin: 40px auto 0;
}
.about-items .one-column .description {
	font-size: 16px;
	margin: 0 auto 20px;
	padding: 0 20px;
}
.about-items .one-column {
	width: 90%;
	margin: 20px auto;
}
.about-items .two-column {
	width: 90%;
}
@media (min-width: 897px) {
	.about-items .two-column {
		padding-top: 10px;
	}
}
@media (min-width: 897px) {
	.about-items .column {
		width: 48.5%;
		float: left;
		margin: 20px auto 40px;
	}
}
.about-items .column img {
	padding-bottom: 20px;
}
@media (min-width: 897px) {
	.about-items .column:first-of-type {
		padding-right: 10px;
		margin-right: 10px;
	}
}
/* End About Food and Drink Section Styling */
.about-items .subscribe-container {
	width: 90%;
	padding: 20px 0;
}
.about-item {
	padding: 0 20px 20px;
}
@media (min-width: 897px) {
	.about-item {
		padding: 0 0 20px;
		margin: 0 auto;
		width: 90%;
	}
}
/* Common CSS Properties Styling */
body.about,
#about {
	overflow: hidden;
}
.about-items,
.about-items h1,
.about-items h2,
.about-people h2,
.about-items .one-column .description {
	text-align: center;
}
#about,
.about-items,
#about .about-items img {
	width: 100%;
	margin: 0 auto;
}
.about-items .two-column,
.about-items .column,
.about-items .subscribe-container {
	margin: 0 auto;
}
.about-items h1,
.about-items h2,
.about-items p {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}
.about-items h1,
.about-people h2,
.about-items h2,
.about-items p,
.about-people p {
	font-weight: 100;
}
.about-items h1,
.about-items h2 {
	text-transform: uppercase;
	padding-bottom: 20px;
}
.about-items p,
.about-people p {
	color: #838b8b;
}
@media (min-width: 897px) {
	.about-people p,
.about-item {
		padding: 0 40px 20px;
	}
}
/* Menu Styling */
body.menu {
	overflow: hidden;
	font-size: 18px;
}
/* Menu Page Wrapper */
#menu {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
/* Hide so don't have two background images */
#menu img {
	display: none;
}
/* Brunch */
.brunch-items,
.brunch-bevs,
.lunch-items,
.dinner-items {
	text-align: center;
	max-width: 880px;
	width: 100%;
	background: white;
	margin: 0 auto;
}
.brunch-bevs,
.lunch-items,
.dinner-items {
	padding: 60px 0 0;
}
.brunch-items {
padding: 40px 0 0;
}
@media (min-width: 897px) {
	.brunch-items {
		padding-top: 60px;
	}
}
@media (min-width: 897px) {
	.dinner-items {
		padding-bottom: 20px;
	}
}
/* Menu Page Images Styling */
#menu .brunch-items .brunch-item img,
#menu .lunch-items .lunch-item img,
#menu .brunch-bevs .brunch-bev-item img,
#menu .dinner-items .dinner-item img {
	display: block;
	border-radius: 50%;
}
#menu .brunch-items .brunch-item img,
#menu .lunch-items .lunch-item img,
#menu .dinner-items .dinner-item img {
	width: 60%;
	margin: 0 auto;
}
#menu .brunch-bevs .brunch-bev-item img {
	width: 55%;
	margin: 0 auto 20px;
}
/* End Menu Page Images Styling */
/* Individual Meal Section Stylings Independent of Parent */
.brunch-item,
.brunch-bev,
.lunch-item,
.dinner-item {
	padding: 0 20px 20px;
}
@media (min-width: 897px) {
	.brunch-item,
.brunch-bev,
.lunch-item,
.dinner-item {
		padding: 0 40px 20px;
	}
}
/* End Individual Meal Section Stylings Independent of Parent */
/* Heading Stylings For all Meals */
.brunch-items h2, .brunch-items h4,
.brunch-bevs h2,
.lunch-items h2, .lunch-items h4,
.dinner-items h2, .dinner-items h4 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 100;
}
.brunch-items h2,
.brunch-bevs h2,
.lunch-items h2,
.dinner-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: firebrick;
}
.brunch-items h4,
.lunch-items h4,
.dinner-items h4 {
	font-family: 'Dosis', sans-serif;
}
/* End Heading Stylings For all Meals */
/* Menu Page Subecribe Container Styling */
.dinner-items .subscribe-container {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}
/* Common Meals Styling */
.description {
	color: #838b8b;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}
.price {
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	//background: transparent;
}
.add {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Dosis', sans-serif;
}
/* Drinks Styling */
body.drinks {
	overflow: hidden;
	font-size: 18px;
}
/* Drinks Page Wrapper */
#drinks {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	background: white;
}
@media (min-width: 897px) {
	#drinks {
		margin-bottom: 20px;
	}
}
/* Hide so don't have two background images */
#drinks img {
	display: none;
}
/* Wrapper for drink-item sections */
.drink-items {
	padding: 40px 0 0;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background: white;
}
@media (min-width: 897px) {
	.drink-items {
		width: 90%;
		max-width: 880px;
		padding: 60px 0 20px;
	}
}
#drinks .drink-items .drink-item img {
	display: block;
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
}
.drink-item {
	padding-bottom: 20px;
}
.drink-items h2,
.drink-items h4,
.drink-items .price {
	font-weight: 100;
}
.drink-items h2,
.drink-items h4 {
	text-transform: uppercase;
}
.drink-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: firebrick;
}
.drink-items h4,
.drink-items .price {
	font-family: 'Dosis', sans-serif;
}
/* Social Media Icons Section Styling */
.drink-items .social-media-icons-container {
	width: 90%;
	margin: 20px auto;
	padding: 20px 0 0;
	clear: both;
}
@media (min-width: 800px) {
	.drink-items .social-media-icons-container {
		padding: 10px 0 20px;
	}
}
/* End Social Media Icons Section Styling */
/* Subscribe Container Section Styling */
.drink-items .subscribe-container {
	margin: 0 auto;
	width: 90%;
	padding: 20px 0;
}
@media (min-width: 897px) {
	.drink-items .subscribe-container {
		width: 100%;
	}
}
/* End Subscribe Container Section Styling */
/* Miscellanrous Drinks Page Styling */
#drinks .drink-items .drink-item .description {
	color: #838b8b;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
}
.drink-items h2,
.drink-items h4,
#drinks .drink-items .drink-item .description {
	letter-spacing: 0.1em;
}
/* Reserve Page Styling */
body.reserve {
	overflow: hidden;
	font-size: 18px;
}
/* Reservation Page Wrapper */
#reserve {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	background: white;
}
@media (min-width: 897px) {
	#reserve {
		margin: 0 auto 20px;
	}
}
/* Hide so don't have two background images */
#reserve img {
	display: none;
}
#reserve .reservations {
	padding: 40px 0 0;
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 897px) {
	#reserve .reservations {
		padding: 60px 0 0;
	}
}
.reservations .reserve-title {
	font-size: 30px;
}
@media (min-width: 530px) {
	.reservations .reserve-title {
		font-size: 2em;
	}
}
.reservations h1 {
	color: firebrick;
	padding-bottom: 20px;
}
.reservations p {
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
	line-height: 1.6;
}
/* Wrapper For Reservation Page Intro Text */
.reserve-intro {
	margin: 20px auto 40px;
}
/* End Wrapper For Reservation Page Intro Text */
.reserve-description, .reserve-description a {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}
/* Find A Table Styling */
.find-a-table-container {
	width: 90%;
	margin: 40px auto;
	padding: 10px 0;
}
@media (min-width: 897px) {
	.find-a-table-container {
		margin: 20px auto;
		padding: 10px 0 30px;
	}
}
.find-a-table {
	margin: 30px;
}
.find-a-table a {
	background: antiquewhite;
	border: 3px dotted black;
	height: 64px;
	width: 198px;
}
.find-a-table:active a {
	cursor: pointer;
}
.find-a-table p {
	padding-top: 10px;
	margin-bottom: 20px;
}
.reserve-item .reserve-description {
	margin: 0 auto;
}
.walkins br, .catering br {
	line-height: 1.5;
}
/* End Find A Table Styling */
/* Find a Table Change Face Button Effect */
.face-button {
	height: 66px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: black;
	background: firebrick;
	overflow: hidden;
	width: 198px;
	margin: 0 auto;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.face-button, .face-primary, .face-button .face-secondary {
	display: block;
	line-height: 64px;
	transition: margin 0.4s;
}
.face-button .face-primary {
	background: firebrick;
	color: black;
	cursor: pointer;
}
.face-button .face-secondary {
	color: firebrick;
}
.face-button:active .face-primary {
	margin-top: -64px;
	cursor: pointer;
}
/* End Find a Table Change Face Button Effect */
/* Reserve Page Links Initial Styling */
.click-here {
	margin: 25px auto;
}
.click-here a {
	color: LightCoral;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}
/* End Reserve Page Links Initial Styling */
/* Social Media Icons Styling */
.social-media-icons-container {
	text-align: center;
	margin: 40px auto;
}
@media (min-width: 897px) {
	.social-media-icons-container {
		width: 100%;
		padding: 20px 0;
		margin: 20px 0;
	}
}
.social-media-icons-container svg {
	margin: 0 5px;
}
/* End Social Media Icons Styling */
/* Subscribe Container Button and Form Field Styling */
.reservations .subscribe-container {
	margin: 0 auto;
	width: 90%;
	padding: 20px 0;
}
.subscribe-container h2 {
	padding-bottom: 20px;
}
.newsletter-form-field-wrapper {
	padding: 40px 0;
	margin: 0 auto;
}
.newsletter-form-button-icon {
	display: block;
	width: 120px;
	height: 42px;
	cursor: pointer;
	background: firebrick;
	margin: 20px auto 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.newsletter-form-button-icon,
.newsletter-form-field-element {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.newsletter-form-field-element {
	width: 250px;
	height: 35px;
	margin: 5px 5px 0;
	font-size: 14px;
	display: inline-block;
	background: antiquewhite;
	transition: -webkit-transform 0.3 ease-in-out;
	transition: transform 0.3 ease-in-out;
	transition: transform 0.3 ease-in-out, -webkit-transform 0.3 ease-in-out;
}
.newsletter-form-field-element:active, .newsletter-form-field-element:focus {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	transition: color 0.5s ease-in-out;
}
/* End Subscribe Container Button and Form Field Styling */
/* Subscribe Button Change Face Button Effect */
#subscribe .face-button {
	height: 60px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: black;
	background: antiquewhite;
	overflow: hidden;
	margin: 20px auto 0;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}
#subscribe .face-button, .face-primary,
#subscribe .face-button .face-secondary {
	display: block;
	line-height: 64px;
	transition: margin .4s;
	cursor: pointer;
}
#subscribe .face-button .face-primary {
	background: firebrick;
	color: black;
}
#subscribe .face-button .face-secondary {
	color: firebrick;
}
#subscribe .face-button:active .face-primary {
	margin-top: -64px;
	cursor: pointer;
	color: black;
}
/* End Subscribe Button Change Face Button Effect */
/* Common CSS Properties Stylings */
.reservations h1, .reservations p, .reserve-info .add, .find-a-table-container h2, .find-a-table a, .find-a-table p, .subscribe-container h2, .newsletter-form-button-icon {
	font-family: 'Dosis', sans-serif;
}
.reservations h1, .newsletter-form-button-icon {
	text-transform: uppercase;
}
.reservations h1, .reservations p, .reserve-info a, .reserve-info .description, .find-a-table-container h2, .find-a-table a, .subscribe-container h2, .newsletter-form-button-icon, .newsletter-form-field-element {
	letter-spacing: 0.1em;
}
.reservations h1, .reservations p, .reserve-info a, .reserve-info .description, .reserve-info .add, .find-a-table-container h2, .subscribe-container h2 {
	font-weight: 100;
}
.reserve-info .description, .reserve-info .add, .find-a-table-container h2, .find-a-table a, .find-a-table p, .subscribe-container h2, .subscribe-container .description {
	color: black;
}
.find-a-table-container, .subscribe-container {
	background: #838b8b;
}
.find-a-table-container h2, .subscribe-container h2 {
	text-transform: none;
}
#reserve .reservations, .find-a-table, .subscribe-container .description, .newsletter-form-field-element {
	text-align: center;
}
.find-a-table p, .subscribe-container .description, .newsletter-form-button-icon {
	font-size: 16px;
	letter-spacing: 0.2em;
}
.newsletter-form-button-icon, .newsletter-form-field-element {
	outline: none;
	border: 3px dotted black;
}
/* Buzz Page Styling */
body.buzz {
	overflow: hidden;
	font-size: 18px;
}
/* Buzz Page Wrapper */
#buzz {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
/* Hide so don't have two background images */
#buzz img {
	display: none;
}
/* Wrapper for buzz-item sections */
.buzz-items {
	padding: 40px 0 0;
	width: 100%;
	background: white;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.buzz-items {
		width: 100%;
		max-width: 880px;
		padding-top: 60px;
		padding-bottom: 20px;
	}
}
.buzz-items .buzz-title {
	font-size: 30px;
}
@media (min-width: 530px) {
	.buzz-items .buzz-title {
		font-size: 2em;
	}
}
.buzz-items h1 {
	padding-bottom: 20px;
	color: firebrick;
}
/* Buzz Page Instagram Section Styling */
.buzz-items .buzz-item,
.buzz-items .social-embed-container {
	width: 90%;
	margin: 0 auto;
}
.buzz-items .buzz-item:first-of-type {
	margin: 20px auto 0;

}
@media (min-width: 897px) {
	.buzz-items .buzz-item:first-of-type {
		margin: 40px auto 0;
	}
}
.buzz-items .buzz-item:nth-of-type(2) {
	margin: 30px auto;
}
@media (min-width: 897px) {
	.buzz-items .social-embed-container {
		margin: 40px auto;
	}
}
.social-embed-container h2 {
	width: 100%;
	margin: 20px auto;
}
.buzz-items .social-embed-container .instagrm-column {
	width: 100%;
	margin: 1.25% auto 0;
}
@media (min-width: 800px) {
	.buzz-items .social-embed-container .instagrm-column {
		width: 48.75%;
		float: left;
	}
}
.buzz-items .social-embed-container .instagrm-column:nth-of-type(1),
.buzz-items .social-embed-container .instagrm-column:nth-of-type(3) {
	width: 100%;
	margin: 1.25% auto 0;
}
@media (min-width: 800px) {
	.buzz-items .social-embed-container .instagrm-column:nth-of-type(1),
.buzz-items .social-embed-container .instagrm-column:nth-of-type(3) {
		width: 48.75%;
		margin: 1.25% 1.25% 0 0;
	}
}
@media (min-width: 800px) {
	.buzz-items .social-embed-container .instagrm-column:nth-of-type(3) {
		margin-top: -3.75%;
	}
}
.buzz-items .social-embed-container .instagrm-column:nth-of-type(2),
.buzz-items .social-embed-container .instagrm-column:nth-of-type(4) {
	width: 100%;
	margin: 1.25% auto 0;
}
@media (min-width: 800px) {
	.buzz-items .social-embed-container .instagrm-column:nth-of-type(2),
.buzz-items .social-embed-container .instagrm-column:nth-of-type(4) {
		width: 48.75%;
		margin: 1.25% 0 0 1.25%;
	}
}
/* End Buzz Page Instagram Section Styling */
/* Buzz Page Social Media Icons Section Styling */
.buzz-items .social-media-icons-container {
	width: 90%;
	margin: 40px auto;
	padding: 20px 0 0;
	clear: both;
}
@media (min-width: 800px) {
	.buzz-items .social-media-icons-container {
		border-top: 1px solid #ddd;
		padding: 40px 0 0;
	}
}
/* End Buzz Page Social Media Icons Section Styling */
/* Buzz Page Subscribe Container Section Styling */
.buzz-items .subscribe-container {
	padding: 20px 0;
	margin: 0 auto;
	width: 90%;
}
/* End Buzz Page Subscribe Container Section Styling */
/* Common CSS Properties Styling */
.buzz-items {
	text-align: center;
}
.buzz-items h1,
.social-embed-container h2 {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
/* Sticky Footer and Footer Styling */
/* Sticky Footer */
:root {
  --space: 0.5em 0;
  --space-lg: 2em 0;
}
.Site {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
.Site-content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: var(--space) 0 0;
}
.Site-content::after {
	content: '\00a0';
	display: block;
	margin-top: var(--space) 0 0;
	height: 0;
	visibility: hidden;
}
/* End Sticky Footer */
.footer {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.footer {
		width: 100%;
		max-width: 880px;
		background: white;
		margin-bottom: 20px;
	}
}
.footer p {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	margin-top: 20px;
	margin: 0 auto;
	padding: 40px 0 20px;
	max-width: 880px;
	background: white;
	letter-spacing: 0.1em;
	font-size: 16px;
}
