/* Mixins */
* {
	padding: 0;
	margin: 0;
}
html {
	max-height: 100vh;
	overflow-y: auto;
}
@media (min-width: 897px) {
	html {
		background-image: url('../../assets/images/relax-701362_1920.jpg');
		overflow-y: auto;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
}
main {
	max-width: 880px;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
/* Header/Logo Styling */
header {
	z-index: 3;
	width: 100%;
	margin: 0 auto;
	background: white;
}
@media (min-width: 897px) {
	header {
		max-width: 880px;
		width: 100%;
		height: auto;
		margin-top: 20px;
		position: relative;
	}
}
.logo {
	position: relative;
	margin: 0 auto;
	top: 22px;
	top: 0;
	left: 10px;
	font-size: 32px;
	text-transform: uppercase;
	font-family: 'Joti One', cursive;
	letter-spacing: 0.1em;
	font-weight: 700;
	z-index: 10000;
	text-align: left;
	width: 100%;
}
@media (min-width: 897px) {
	.logo {
		background: white;
		width: 97%;
		text-align: center;
		height: 120px;
		font-size: 48px;
		top: 0;
		left: 0;
	}
}
/* Styling Social Media Icons */
svg:hover {
	-webkit-transform: scale(1.25);
	        transform: scale(1.25);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
/* Responsive Navigation Styling */
@media (max-width: 896px) {
	.top {
		display: none;
	}
}
nav.hamburger {
	display: block;
	width: 42px;
	height: 36px;
	margin: -25px 10px 15px 30px;
	position: -webkit-sticky;
	position: sticky;
	left: 100vw;
	cursor: pointer;
	z-index: 99999;
}
nav.hamburger div.line {
	width: 100%;
	height: 6px;
	margin: 0 0 6px 0;
	background: black;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.3s;
	transition: opacity 0.1s, -webkit-transform 0.3s;
	transition: transform 0.3s, opacity 0.1s;
	transition: transform 0.3s, opacity 0.1s, -webkit-transform 0.3s;
}
.hide {
	opacity: 0;
	-webkit-transform: translateX(-42px);
	        transform: translateX(-42px);
}
.animate0 {
	-webkit-transform: rotate(45deg) translateY(17px);
	        transform: rotate(45deg) translateY(17px);
}
.animate2 {
	-webkit-transform: rotate(-45deg) translateY(-17px);
	        transform: rotate(-45deg) translateY(-17px);
}
nav.responsive-menu {
	background: rgba(52, 152, 219, 0);
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	-webkit-transition: height 0.5s;
	transition: height 0.5s;
	background: antiquewhite;
	overflow-y: visible;
	position: -webkit-sticky;
	position: sticky;
	opacity: 0;
	z-index: 1;
	-webkit-transition: background 0.5s ease-in-out, opacity 0.5s;
	transition: background 0.5s ease-in-out, opacity 0.5s;
}
nav.responsive-menu.show {
	opacity: 1;
	-webkit-transition: background 0.5s ease-in-out, visibility 0.5s;
	transition: background 0.5s ease-in-out, visibility 0.5s;
	display: block !important;
	width: 100%;
	height: auto;
	background: red;
	margin-left: 0;
}
@media (min-width: 897px) {
	nav.responsive-menu.show {
		display: none;
	}
}
nav.responsive-menu ul {
	padding: 20px 0 0 0;
}
nav.responsive-menu li {
	list-style: none;
	text-align: center;
	width: 100%;
	padding-left: 0;
}
nav.responsive-menu li a {
	color: black;
	font-size: 28px;
	text-decoration: none;
	font-weight: 300;
	line-height: 1.5;
}
nav.responsive-menu li:first-child a {
	background: transparent;
	border: none;
	color: black;
}
nav.responsive-menu li:first-child a.active, nav.responsive-menu li:first-child a:hover {
	color: antiquewhite;
	border: none;
}
nav.responsive-menu a.active, nav.responsive-menu a:hover {
	text-decoration: underline;
	color: antiquewhite;
	border: none;
}
/* Navigation Styling */
.top {
	text-align: center;
	width: 100%;
	max-width: 880px;
}
@media (min-width: 897px) {
	nav.responsive-menu, nav.hamburger,
nav.responsive-menu a.active, nav.responsive-menu a:hover {
		display: none;
	}
}
nav {
	z-index: 3;
	margin: 0 auto;
}
@media (min-width: 897px) {
	nav {
		max-width: 880px;
		width: 100%;
		height: 60px;
		margin-left: 10px;
	}
}
nav ul {
	padding: 0;
	list-style: none;
}
nav a {
	text-decoration: none;
	display: block;
}
nav li:last-child {
	margin-right: 20px;
	padding-bottom: 1.75rem;
}
nav a.active, nav a:hover {
	text-decoration: underline;
	color: firebrick;
	border: 1px dotted #838b8b;
}
nav li {
	display: inline-block;
	text-align: center;
	letter-spacing: 0.1em;
	font-family: 'Dosis',sans-serif;
	font-size: 18px;
    font-weight: bold;
	padding: 0.5rem;

}
@media (min-width: 897px) {
	nav li {
		padding: 1rem 1.5rem 1.75rem;
	}
}
nav li a {
	color: black;
}
nav li a:hover {
	color: #838b8b;
	cursor: pointer;
}
/* Zoom-In Image animation on Scroll */
.align-center {
	float: none;
}
.zoom-in {
	opacity: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.align-center.zoom-in {
	-webkit-transform: translateY(-50%) scale(0.95);
	        transform: translateY(-50%) scale(0.95);
}
.zoom-in.active {
	opacity: 1;
	-webkit-transform: translateY(0%) scale(1);
	        transform: translateY(0%) scale(1);
}
/* Welcome Page Styling */
body.welcome {
	overflow: hidden;
	font-size: 18px;
}
#welcome {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
#welcome img {
	display: none;
}
.welcome-items {
	padding: 40px 0 0;
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	background: white;
}
@media (min-width: 897px) {
	.welcome-items {
		padding: 60px 0 20px;
	}
}
.welcome-items h1 {
	padding-bottom: 20px;
	color: firebrick;
	text-transform: uppercase;
}
.welcome-items p {
	padding: 0 40px;
}
.welcome-item img {
	width: 90%;
	z-index: 5;
}
.welcome-item {
	margin: 20px 0;
}
.welcome-item .title {
	color: firebrick;
	font-weight: bold;
}
.welcome-items .social-media-icons-container {
	margin: 40px auto;
}
@media (min-width: 897px) {
	.welcome-items .social-media-icons-container {
		width: 100%;
		margin: 0 auto;
		padding: 40px 0;
	}
}
@media (min-width: 897px) {
	.welcome-items .find-a-table-container {
		margin: 0 auto;
		width: 90%;
	}
}
#welcome .welcome-items .instagram-container img {
	display: block;
	width: 100%;
	border: 1px solid #ddd;
}
.welcome-items .instagram-container {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.welcome-items .instagram-container {
		margin: 40px auto;
	}
}
.welcome-items .instagram-column {
	width: 100%;
	margin: 0 auto 20px;
}
@media (min-width: 620px) {
	.welcome-items .instagram-column {
		width: 50%;
		float: left;
	}
	@media (min-width: 897px) {
		.welcome-items .instagram-column {
			width: 33.3333%;
			float: left;
		}
	}
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	overflow: hidden;
	margin: 20px auto 40px;
	width: 90%;
}
@media (min-width: 897px) {
	.video-container {
		margin: 60px auto 0;
	}
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 20px auto;
	z-index: 1;
}
.welcome-items .subscribe-container {
	margin: 0 auto;
}
@media (min-width: 897px) {
	.welcome-items .subscribe-container {
		width: 90%;
	}
}
/* Common CSS Properties Stylings */
.welcome-items,
.welcome-items .subscribe-container {
		text-align: center;
}
.welcome-items h1,
.welcome-items p {
	font-family: 'Dosis', sans-serif;
}
.welcome-items h1,
.welcome-item .description,
.welcome-item .address,
.welcome-item .contact-info,
.welcome-items .find-a-table-container h2,
.welcome-items .subscribe-container h2 {
	font-weight: 100;
}
.welcome-items h1,
.welcome-item .address,
.welcome-item .contact-info,
.welcome-item .title,
.welcome-item .hours,
.welcome-items .find-a-table-container,
.welcome-items .subscribe-container h2 {
	letter-spacing: 0.1em;
}
.welcome-item .description,
.welcome-item .hours {
	color: black;
}
.welcome-item .address,
.welcome-item .contact-info,
.welcome-item .title,
.welcome-item .hours {
	line-height: 1.5;
}
/* About Page Styling */
body.about {
	font-size: 18px;
}
#about {
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
#about img {
	display: none;
}
.about-items {
	padding: 40px 0 0;
	background: white;
}
@media (min-width: 897px) {
	.about-items {
		max-width: 880px;
		padding-top: 60px;
	}
}
.about-items h1 {
	color: firebrick;
}
.about-items h2 {
	color: black;
}
.about-items p {
	line-height: 1.5;
}
#about .about-items img {
	display: block;
}
.about-people h2 {
	margin: 20px auto;
	clear: both;
}
@media (min-width: 897px) {
	.about-people h2 {
		margin: 40px auto 20px;
		padding-top: 20px;
	}
}
.about-people p {
	padding: 0 20px;
}
.about-food-and-drink {
	margin: 40px auto 0;
}
.about-items .one-column .description {
	font-size: 16px;
	margin: 0 auto 20px;
	padding: 0 20px;
}
.about-items .one-column {
	width: 90%;
	margin: 20px auto;
}
.about-items .two-column {
	width: 90%;
}
@media (min-width: 897px) {
	.about-items .two-column {
		padding-top: 10px;
	}
}
@media (min-width: 897px) {
	.about-items .column {
		width: 48.5%;
		float: left;
		margin: 20px auto 40px;
	}
}
.about-items .column img {
	padding-bottom: 20px;
}
@media (min-width: 897px) {
	.about-items .column:first-of-type {
		padding-right: 10px;
		margin-right: 10px;
	}
}
@media (min-width: 897px) {
	.about-items .subscribe-container {
		width: 90%;
	}
}
.about-item {
	padding: 0 20px 20px;
}
/* Common CSS Properties Styling */
body.about,
#about {
	overflow: hidden;
}
.about-items,
.about-items h1,
.about-items h2,
.about-people h2,
.about-items .one-column .description {
	text-align: center;
}
#about,
.about-items,
#about .about-items img {
	width: 100%;
	margin: 0 auto;
}
.about-items .two-column,
.about-items .column,
.about-items .subscribe-container {
	margin: 0 auto;
}
.about-items h1,
.about-items h2,
.about-items p {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}
.about-items h1,
.about-people h2,
.about-items h2,
.about-items p,
.about-people p {
	font-weight: 100;
}
.about-items h1,
.about-items h2 {
	text-transform: uppercase;
	padding-bottom: 20px;
}
.about-items p,
.about-people p {
	color: #838b8b;
}
@media (min-width: 897px) {
	.about-people p,
.about-item {
		padding: 0 40px 20px;
	}
}
/* Menu Styling */
body.menu {
	overflow: hidden;
	font-size: 18px;
}
#menu {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
#menu img {
	display: none;
}
/* Brunch */
.brunch-items,
.brunch-bevs,
.lunch-items,
.dinner-items {
	text-align: center;
	max-width: 880px;
	background: white;
	margin: 0 auto;
}
.brunch-bevs,
.lunch-items,
.dinner-items {
	padding: 60px 0 0;
}
@media (min-width: 897px) {
	.dinner-items {
		padding-bottom: 20px;
	}
}
.brunch-items {
padding: 40px 0 0;
}
@media (min-width: 897px) {
	.brunch-items {
		padding-top: 60px;
	}
}
#menu .brunch-items .brunch-item img {
	display: block;
	width: 60%;
	margin: 0 auto;
	border-radius: 50%;
}
.dinner-items .subscribe-container {
	margin: 0 auto;
}
@media (min-width: 897px) {
	.dinner-items .subscribe-container {
		width: 90%;
		margin: 0 auto;
	}
}
.brunch-item,
.brunch-bev,
.lunch-item,
.dinner-item {
	padding: 0 20px 20px;
}
@media (min-width: 897px) {
	.brunch-item,
.brunch-bev,
.lunch-item,
.dinner-item {
		padding: 0 40px 20px;
	}
}
.brunch-items h2, .brunch-items h4,
.brunch-bevs h2,
.lunch-items h2, .lunch-items h4,
.dinner-items h2, .dinner-items h4 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 100;
}
.brunch-items h2,
.brunch-bevs h2,
.lunch-items h2,
.dinner-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: firebrick;
}
.brunch-items h4,
.lunch-items h4,
.dinner-items h4 {
	font-family: 'Dosis', sans-serif;
}
/* Common Meals Styling */
.description {
	color: #838b8b;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}
.price {
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
}
.add {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Dosis', sans-serif;
}
/* Drinks Styling */
body.drinks {
	overflow: hidden;
	font-size: 18px;
}
#drinks {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
#drinks img {
	display: none;
}
.drink-items {
	padding: 40px 0 0;
	text-align: center;
	width: 100%;
	background: white;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.drink-items {
		width: 100%;
		max-width: 880px;
		padding-top: 60px;
		padding-bottom: 20px;
	}
}
#drinks .drink-items .drink-item img {
	display: block;
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
}
.drink-items .social-media-icons-container {
	width: 90%;
	margin: 20px auto;
	padding: 20px 0 0;
	clear: both;
}
@media (min-width: 800px) {
	.drink-items .social-media-icons-container {
		padding: 10px 0 20px;
	}
}
.drink-items .subscribe-container {
	margin: 0 auto;
}
@media (min-width: 897px) {
	.drink-items .subscribe-container {
		width: 90%;
		margin: 0 auto;
	}
}
.drink-item {
	padding-bottom: 20px;
}
.drink-items h2,
.drink-items h4,
.drink-items .price {
	font-weight: 100;
}
.drink-items h2,
.drink-items h4 {
	text-transform: uppercase;
}
.drink-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: firebrick;
}
.drink-items h4,
.drink-items .price {
	font-family: 'Dosis', sans-serif;
}
#drinks .drink-items .drink-item .description {
	color: #838b8b;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
}
.drink-items h2,
.drink-items h4,
#drinks .drink-items .drink-item .description {
	letter-spacing: 0.1em;
}
/* Reserve Page Styling */
body.reserve {
	overflow: hidden;
	font-size: 18px;
}
#reserve {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
#reserve img {
	display: none;
}
#reserve .reservations {
	max-width: 880px;
	background: white;
	line-height: 1.4;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
@media (min-width: 897px) {
	#reserve .reservations {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
.reservations {
	padding: 40px 0 0;
}
@media (min-width: 897px) {
	.reservations {
		padding: 40px 40px 20px;
	}
}
.reservations h1 {
	color: firebrick;
}
.reservations p {
	padding-top: 10px;
}
.reserve-info {
	padding: 0 20px 20px;
}
@media (min-width: 897px) {
	.reserve-info {
		margin-top: 20px;
	}
}
.reserve-info a {
	color: #838b8b;
}
.reserve-info .add {
	padding: 0;
	margin: 0 auto;
}
/* Find A Table Styling */
.find-a-table-container {
	width: 90%;
	margin: 40px auto;
	padding: 10px 0;
}
@media (min-width: 897px) {
	.find-a-table-container {
		width: 100%;
		margin: 40px 60px 60px;
		padding: 10px 0 30px;
	}
}
.find-a-table {
	margin: 30px;
}
.find-a-table a {
	background: firebrick;
	padding: 10px 20px;
	border: 3px dotted black;
}
.find-a-table p {
	padding-top: 10px;
	margin-bottom: 20px;
}
/* Social Media Icons Styling */
.social-media-icons-container {
	margin: 30px auto 20px;
}
@media (min-width: 897px) {
	.social-media-icons-container {
		width: 100%;
		padding: 40px 0;
		margin: 20px 0;
	}
}
.social-media-icons-container svg {
	width: 40px;
	height: 40px;
	margin: 0 5px;
}
/* Subscribe Container Styling */
.subscribe-container {
	width: 90%;
	margin: 40px auto 0;
	padding: 40px 0;
}
@media (min-width: 897px) {
	.subscribe-container {
		width: 100%;
		margin: 0 auto;
		padding: 40px 0;
	}
}
.subscribe-container h2 {
	padding-bottom: 20px;
}
.newsletter-form-field-wrapper {
	padding: 40px 0;
}
.newsletter-form-button-icon {
	width: 120px;
	height: 42px;
	cursor: pointer;
	background: transparent;
	margin: 20px 5px 0;
}
@media (min-width: 897px) {
	.newsletter-form-button-icon {
		margin: 7px 5px 0;
	}
}
.newsletter-form-field-element {
	width: 250px;
	height: 35px;
	margin: 5px 5px 0;
	font-size: 14px;
}
/* Common CSS Properties Stylings */
.reservations h1,
.reservations p,
.reserve-info .add,
.find-a-table-container h2,
.find-a-table a,
.find-a-table p,
.subscribe-container h2,
.newsletter-form-button-icon {
	font-family: 'Dosis', sans-serif;
}
.reservations h1,
.newsletter-form-button-icon {
	text-transform: uppercase;
}
.reservations h1,
.reservations p,
.reserve-info a,
.reserve-info .description,
.find-a-table-container h2,
.find-a-table a,
.subscribe-container h2,
.newsletter-form-button-icon,
.newsletter-form-field-element {
	letter-spacing: 0.1em;
}
.reservations h1,
.reservations p,
.reserve-info a,
.reserve-info .description,
.reserve-info .add,
.find-a-table-container h2,
.subscribe-container h2 {
	font-weight: 100;
}
.reserve-info .description,
.reserve-info .add,
.find-a-table-container h2,
.find-a-table a,
.find-a-table p,
.subscribe-container h2,
.subscribe-container .description {
	color: black;
}
.find-a-table-container,
.subscribe-container {
	background: #838b8b;
}
.find-a-table-container h2,
.subscribe-container h2 {
	text-transform: none;
}
#reserve .reservations,
.find-a-table,
.subscribe-container .description,
.newsletter-form-field-element {
	text-align: center;
}
.find-a-table p,
.subscribe-container .description,
.newsletter-form-button-icon {
	font-size: 16px;
}
.newsletter-form-button-icon,
.newsletter-form-field-element {
	outline: none;
	border: 2px solid black;
}
/* Buzz Page Styling */
body.buzz {
	overflow: hidden;
	font-size: 18px;
}
#buzz {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
}
#buzz img {
	display: none;
}
.buzz-items {
	padding: 40px 0 0;
	width: 100%;
	background: white;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.buzz-items {
		width: 100%;
		max-width: 880px;
		padding-top: 60px;
		padding-bottom: 20px;
	}
}
.buzz-items h1 {
	padding-bottom: 20px;
	color: firebrick;
}
.buzz-items .buzz-item,
.buzz-items .instagram-container {
	width: 90%;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.buzz-items .instagram-container {
		margin: 40px auto;
	}
}
.buzz-items .instagram-container .instagram-column {
	width: 100%;
	margin: 1.25% auto 0;
}
@media (min-width: 800px) {
	.buzz-items .instagram-container .instagram-column {
		width: 48.75%;
		float: left;
	}
}
.buzz-items .instagram-container .instagram-column:nth-of-type(1),
.buzz-items .instagram-container .instagram-column:nth-of-type(3) {
	width: 100%;
	margin: 1.25% auto 0;
}
@media (min-width: 800px) {
	.buzz-items .instagram-container .instagram-column:nth-of-type(1),
.buzz-items .instagram-container .instagram-column:nth-of-type(3) {
		width: 48.75%;
		margin: 1.25% 1.25% 0 0;
	}
}
.buzz-items .instagram-container .instagram-column:nth-of-type(2),
.buzz-items .instagram-container .instagram-column:nth-of-type(4) {
	width: 100%;
	margin: 1.25% auto 0;
}
@media (min-width: 800px) {
	.buzz-items .instagram-container .instagram-column:nth-of-type(2),
.buzz-items .instagram-container .instagram-column:nth-of-type(4) {
		width: 48.75%;
		margin: 1.25% 0 0 1.25%;
	}
}
@media (min-width: 800px) {
	.buzz-items .instagram-container .instagram-column:nth-of-type(2) {
		margin: 1.25% 0 0 1.25%;
	}
}
@media (min-width: 800px) {
	.buzz-items .instagram-container .instagram-column:nth-of-type(3) {
		margin-top: -3.75%;
	}
}
.instagram-container h2 {
	width: 100%;
	margin: 20px auto;
}
.buzz-items .social-media-icons-container {
	width: 90%;
	margin: 40px auto;
	padding: 20px 0 0;
	clear: both;
}
@media (min-width: 800px) {
	.buzz-items .social-media-icons-container {
		border-top: 1px solid #ddd;
		padding: 40px 0 0;
	}
}
.buzz-items .subscribe-container {
	padding: 40px 0;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.buzz-items .subscribe-container {
		width: 90%;
		margin: 40px auto 0;
	}
}
/* Common CSS Properties Styling */
.buzz-items {
	text-align: center;
}
.buzz-items h1,
.instagram-container h2 {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
/* Sticky Footer and Footer Styling */
/* Sticky Footer */
:root {
  --space: 0.5em 0;
  --space-lg: 2em 0;
}
.Site {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
.Site-content {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	//padding: var(--space) 0 0;
}
.Site-content::after {
	content: '\00a0';
	display: block;
	margin-top: var(--space) 0 0;
	height: 0;
	visibility: hidden;
}
/* End Sticky Footer */
.footer {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 897px) {
	.footer {
		width: 100%;
		max-width: 880px;
		background: white;
		margin-bottom: 20px;
	}
}
.footer p {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	margin-top: 20px;
	margin: 0 auto;
	padding: 40px 0 20px;
	max-width: 880px;
	background: white;
	letter-spacing: 0.1em;
	font-size: 16px;
}
