/* Zoom-In Image animation on Scroll */

.align-center {
	float: none;
}

.zoom-in {
	opacity: 0;
	transition: all 0.5s;
}

.align-center.zoom-in {
	transform: translateY(-50%) scale(0.95);
}

.zoom-in.active {
	opacity: 1;
	transform: translateY(0%) scale(1);
}
