/* About Page Styling */
body.about {
	font-size: 18px;
}

#about {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

#about img {
	display: none;
}

.about-items {
	padding: 40px 0 0;
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
	background: $mainWhite;
	@mixin atMediumLarge {
		padding: 60px 0 0;
	}
}

.about-items .about-title {
	font-size: 30px;
	@mixin atSmall {
		font-size: 2em;
	}
}

.about-items h1 {
	color: $mainRed;
}

.about-items h2 {
	color: $mainBlack;
}

.about-items p {
	line-height: 1.5;
}

.slide-hover .about-description {
	color: $mainBlack;
}

/* Animation for About Page Text */
/* Pull right and left  */

div.slide-hover {
	@mixin atMediumLarge {
		text-align: center;
		margin: 0 auto;
		transition: 0.3s ease;
		&:hover {
			transform: translateY(-10px) scale(1.02);
			.about-item-right-left {
				background-position: -100% 0;
			}
		}
	}
}

.about-item-right-left {
	@mixin atMediumLarge {
		background-size: 200%;
	  	background-position: 0 0;
		transition: .5s ease-in-out;
	}
}

div.slide-hover .about-description {
	@mixin atMediumLarge {
		margin: 0;
		padding: 10px 10px;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
}

div.about-item-right-left .about-description:before, div.about-item-right-left .about-description:after {
	@mixin atMediumLarge {
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		content: '';
		background: transparent;
		opacity: 0.4;
		transition: all 0.5s;
	}
}

div.about-item-right-left .about-description:before {
	@mixin atMediumLarge {
		left: 0;
	}
}

div.about-item-right-left .about-description:after {
	@mixin atMediumLarge {
		right: 0;
	}
}

div.about-item-right-left .about-description:hover:before,
div.about-item-right-left .about-description:hover:after {
	@mixin atMediumLarge {
		width: 100%;
	}
}

/* End Animation for About Page Text */

.slide-hover .about-people-description {
	color: $mainBlack;
	padding: 0 20px 20px;
}

/* Animation for About (People) Page Text */
/* Pull right and left  */

div.slide-hover {
	@mixin atMediumLarge {
		text-align: center;
		margin: 0 auto;
		transition: 0.3s ease;
		&:hover {
			transform: translateY(-10px) scale(1.02);
			.about-people-item-right-left {
				background-position: -100% 0;
			}
		}
	}
}

.about-people-item-right-left {
	@mixin atMediumLarge {
		background-size: 200%;
	  	background-position: 0 0;
		transition: .5s ease-in-out;
	}
}

div.slide-hover .about-people-description {
	@mixin atMediumLarge {
		margin: 0;
		padding: 10px 10px;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
}

div.about-people-item-right-left .about-people-description:before, div.about-people-item-right-left .about-people-description:after {
	@mixin atMediumLarge {
		position: absolute;
		width: 0;
		height: 100%;
		top: 0;
		content: '';
		background: transparent;
		opacity: 0.4;
		transition: all 0.5s;
	}
}

div.about-people-item-right-left .about-people-description:before {
	@mixin atMediumLarge {
		left: 0;
	}
}

div.about-people-item-right-left .about-people-description:after {
	@mixin atMediumLarge {
		right: 0;
	}
}

div.about-people-item-right-left .about-people-description:hover:before,
div.about-people-item-right-left .about-people-description:hover:after {
	@mixin atMediumLarge {
		width: 100%;
	}
}

/* End Animation for About (People) Page Text */

#about .about-items img {
	display: block;
}

.about-people {
	width: 95%;
	margin: 0 auto;
}

.about-people h2 {
	margin: 20px auto;
	clear: both;
	@mixin atMediumLarge {
		margin: 40px auto 20px;
		padding-top: 20px;
	}
}

.about-people p {
	padding: 0 20px;
}

.about-food-and-drink {
	margin: 40px auto 0;
}

.about-items .one-column .description {
	font-size: 16px;
	margin: 0 auto 20px;
	padding: 0 20px;
}

.about-items .one-column {
	width: 90%;
	margin: 20px auto;
}

.about-items .two-column {
	width: 90%;
	@mixin atMediumLarge {
		padding-top: 10px;
	}
}

.about-items .column {
	@mixin atMediumLarge {
		width: 48.5%;
		float: left;
		margin: 20px auto 40px;
	}
}

.about-items .column img {
	padding-bottom: 20px;
}

.about-items .column:first-of-type {
	@mixin atMediumLarge {
		padding-right: 10px;
		margin-right: 10px;
	}
}

.about-items .subscribe-container {
	@mixin atMediumLarge {
		width: 90%;
	}
}

.about-item {
	padding: 0 20px 20px;
	@mixin atMediumLarge {
		padding: 0 0 20px;
		margin: 0 auto;
		width: 90%;
	}
}

/* Common CSS Properties Styling */

body.about,
#about {
	overflow: hidden;
}

.about-items,
.about-items h1,
.about-items h2,
.about-people h2,
.about-items .one-column .description {
	text-align: center;
}

#about,
.about-items,
#about .about-items img {
	width: 100%;
	margin: 0 auto;
}

.about-items .two-column,
.about-items .column,
.about-items .subscribe-container {
	margin: 0 auto;
}

.about-items h1,
.about-items h2,
.about-items p {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}

.about-items h1,
.about-people h2,
.about-items h2,
.about-items p,
.about-people p {
	font-weight: 100;
}

.about-items h1,
.about-items h2 {
	text-transform: uppercase;
	padding-bottom: 20px;
}

.about-items p,
.about-people p {
	color: $mainAzure4;
}

.about-people p,
.about-item {
	@mixin atMediumLarge {
		padding: 0 40px 20px;
	}
}
