/* Drinks Styling */
body.drinks {
	overflow: hidden;
	font-size: 18px;
}

/* Drinks Page Wrapper */

#drinks {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
	background: $mainWhite;
	@mixin atMediumLarge {
		margin-bottom: 20px;
	}
}

/* Hide so don't have two background images */
#drinks img {
	display: none;
}

/* Wrapper for drink-item sections */
.drink-items {
	padding: 40px 0 0;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background: $mainWhite;
	@mixin atMediumLarge {
		width: 100%;
		max-width: 880px;
		padding: 60px 0 20px;
	}
}

#drinks .drink-items .drink-item img {
	display: block;
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
}

.drink-item {
	padding-bottom: 20px;
}

.drink-items h2,
.drink-items h4,
.drink-items .price {
	font-weight: 100;
}

.drink-items h2,
.drink-items h4 {
	text-transform: uppercase;
}

.drink-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: $mainRed;
}

.drink-items h4,
.drink-items .price {
	font-family: 'Dosis', sans-serif;
}

/* Social Media Icons Section Styling */

.drink-items .social-media-icons-container {
	width: 90%;
	margin: 20px auto;
	padding: 20px 0 0;
	clear: both;
	@mixin atMediumMedium {
		padding: 10px 0 20px;
	}
}

/* End Social Media Icons Section Styling */

/* Subscribe Container Section Styling */

.drink-items .subscribe-container {
	margin: 0 auto;
	width: 90%;
	padding: 20px 0;
}

/* Subscribe Container Section Styling */

/* Drink Item Border Y to X Styling */

div.drinks-container-y-to-x {
	@mixin atMediumLarge {
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}
}

div.drinks-container-y-to-x .description {
	@mixin atMediumLarge {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		position: relative;
		cursor: pointer;
	}
}

div.drinks-border-y-to-x .description:before, div.drinks-border-y-to-x .description:after {
	@mixin atMediumLarge {
		position: absolute;
		opacity: 0.5;
		height: 100%;
		width: 0;
		content: '';
		background: $mainBrightRed;
		transition: all 0.3s;
	}
}

div.drinks-border-y-to-x .description:before {
	@mixin atMediumLarge {
		left: 0;
		top: 0;
	}
}

div.drinks-border-y-to-x .description:after {
	@mixin atMediumLarge {
		right: 0;
		bottom: 0;
	}
}

div.drinks-border-y-to-x .description:hover:before,
div.drinks-border-y-to-x .description:hover:after {
	@mixin atMediumLarge {
		opacity: 0.3;
		height: 2px;
		width: 100%;
	}
}

div.drinks-border-y-to-x .description {
	padding: 5px 0;
	line-height: 1.3;
}

div.drinks-border-y-to-x .description:hover {
	background: $mainAntiqueWhite;
	color: $mainBlack;
}

/* End Drink Item Border Y to X Styling */

/* Miscellanrous Drinks Page Styling */

#drinks .drink-items .drink-item .description {
	color: $mainAzure4;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
}

#drinks .drink-items .drink-item .description:hover {
	color: $mainBlack;
}

.drink-items h2,
.drink-items h4,
#drinks .drink-items .drink-item .description {
	letter-spacing: 0.1em;
}
