/* Menu Styling */

body.menu {
	overflow: hidden;
	font-size: 18px;
}

#menu {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

#menu img {
	display: none;
}

/* Brunch */

.brunch-items,
.brunch-bevs,
.lunch-items,
.dinner-items {
	padding: 60px 0 0;
	text-align: center;
	max-width: 880px;
	background: $mainWhite;
	margin: 0 auto;
}

.dinner-items {
	@mixin atMediumLarge {
		padding-bottom: 20px;
	}
}

.brunch-items {
padding-top: 40px;
	@mixin atMediumLarge {
		padding-top: 60px;
	}
}

#menu .brunch-items .brunch-item img {
	display: block;
	width: 60%;
	margin: 0 auto;
	border-radius: 50%;
}

.dinner-items .subscribe-container {
	@mixin atMediumLarge {
		width: 90%;
		margin: 0 auto;
	}
}

.brunch-item,
.brunch-bev,
.lunch-item,
.dinner-item {
	padding: 0 20px 20px;
	@mixin atMediumLarge {
		padding: 0 40px 20px;
	}
}

.brunch-items h2, .brunch-items h4,
.brunch-bevs h2,
.lunch-items h2, .lunch-items h4,
.dinner-items h2, .dinner-items h4 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 100;
}

.brunch-items h2,
.brunch-bevs h2,
.lunch-items h2,
.dinner-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: $mainRed;
}

.brunch-items h4,
.lunch-items h4,
.dinner-items h4 {
	font-family: 'Dosis', sans-serif;
}

/* Common Meals Styling */

.description {
	color: $mainAzure4;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}

.price {
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
}

.add {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Dosis', sans-serif;
}
