/* Menu Styling */

body.menu {
	overflow: hidden;
	font-size: 18px;
}

/* Menu Page Wrapper */
#menu {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

/* Hide so don't have two background images */
#menu img {
	display: none;
}

/* Brunch */

.brunch-items,
.brunch-bevs,
.lunch-items,
.dinner-items {
	text-align: center;
	max-width: 880px;
	width: 100%;
	background: $mainWhite;
	margin: 0 auto;
}

.brunch-bevs,
.lunch-items,
.dinner-items {
	padding: 60px 0 0;
}

.brunch-items {
padding: 40px 0 0;
	@mixin atMediumLarge {
		padding-top: 60px;
	}
}

.dinner-items {
	@mixin atMediumLarge {
		padding-bottom: 20px;
	}
}

/* Menu Page Images Styling */

#menu .brunch-items .brunch-item img,
#menu .lunch-items .lunch-item img,
#menu .brunch-bevs .brunch-bev-item img,
#menu .dinner-items .dinner-item img {
	display: block;
	border-radius: 50%;
}

#menu .brunch-items .brunch-item img,
#menu .lunch-items .lunch-item img,
#menu .dinner-items .dinner-item img {
	width: 60%;
	margin: 0 auto;
}

#menu .brunch-bevs .brunch-bev-item img {
	width: 55%;
	margin: 0 auto 20px;
}

/* End Menu Page Images Styling */

/* Individual Meal Section Stylings Independent of Parent */

.brunch-item,
.brunch-bev,
.lunch-item,
.dinner-item {
	padding: 0 20px 20px;
	@mixin atMediumLarge {
		padding: 0 40px 20px;
	}
}

/* End Individual Meal Section Stylings Independent of Parent */

/* Heading Stylings For all Meals */

.brunch-items h2, .brunch-items h4,
.brunch-bevs h2,
.lunch-items h2, .lunch-items h4,
.dinner-items h2, .dinner-items h4 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 100;
}

.brunch-items h2,
.brunch-bevs h2,
.lunch-items h2,
.dinner-items h2 {
	font-family: 'Cutive Mono', monospace;
	padding-bottom: 20px;
	color: $mainRed;
}

.brunch-items h4,
.lunch-items h4,
.dinner-items h4 {
	font-family: 'Dosis', sans-serif;
}

/* End Heading Stylings For all Meals */

/* Menu Page Subecribe Container Styling */

.dinner-items .subscribe-container {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}

/* Common Meals Styling */

.description {
	color: $mainAzure4;
	line-height: 1.5;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 0.1em;
}

.price {
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
	//background: transparent;
}

.add {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Dosis', sans-serif;
}
