/* Responsive Navigation Styling */

/* Mobile Hamburger Styling */

nav.hamburger {
	display: block;
	width: 42px;
	height: 36px;
	margin: 8px 15px 15px 30px;
	position: sticky;
	left: 100vw;
	cursor: pointer;
	z-index: 99999;
}

nav.hamburger div.line {
	width: 100%;
	height: 6px;
	margin: 0 0 6px 0;
	background: $mainBlack;
	transition: transform 0.3s, opacity 0.1s;
}

/* End Mobile Hamburger Styling */

/* Animation classes for Hamburger Rotation Animation Styling Used in JS responsiveNav.js */

.hide {
	opacity: 0;
	transform: translateX(42px);
}

.animate0 {
	transform: rotate(45deg) translateY(17px);
}

.animate2 {
	transform: rotate(-45deg) translateY(-17px);
}

/* End Animation classes for Hamburger Rotation Animation Styling Used in JS responsiveNav.js */

/* Responsive Menu Styling */

nav.top {
	top: 0;
	left: 0;
	width: 90%;
	height: 0;
	transition: height 0.5s;
	overflow-y: visible;
	position: sticky;
	opacity: 0;
	z-index: 1;
	transition: background 0.5s ease-in-out, opacity 0.5s;
	border-bottom: 1px solid $mainBlack;
	font-family: 'Dosis', sans-serif;
	@mixin atMediumLarge {
		z-index: 4;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
		width: 100%;
		height: 60px;
	}
}

/* .show class styles the responsive menu when opened by clicking Hamburger */
nav.top.show {
	opacity: 1;
	transition: background 0.5s ease-in-out, visibility 0.5s;
	display: block !important;
	height: auto;
	margin:0 auto;
	@mixin atMediumLarge {
		display: none;
	}
}

/* Responsive Menu Links Styling */
nav.top ul {
	padding: 0 0 0 0;
}

nav.top li {
	list-style: none;
	text-align: center;
	width: 100%;
	padding-left: 0;
	padding-top: 10px;
}

nav.top li:first-child {
	padding-top: 0;
	@mixin atMediumLarge {
		padding: 1rem 0.5rem;
	}
}

nav.top li:last-child {
	padding-bottom: 20px;
}

nav.top li a {
	color: $mainBlack;
	font-size: 28px;
	text-decoration: none;
	font-weight: 300;
	line-height: 1.5;
}

nav.top li:first-child a {
	background: transparent;
	border: none;
	color: $mainBlack;
}

nav.top li:first-child a:hover {
	color: $mainRed;
}

nav.top li:first-child a.active {
	color: $mainAzure4;
	@mixin atMediumLarge {
		color: $mainRed;
	}
}

nav.top a.active, nav.responsive-menu a:hover {
	text-decoration: underline;
	border: none;
}

nav.top a.active {
	color: $mainAzure4;
}

nav.top a:hover {
	color: $mainRed;
}

/* End Responsive Menu Links Styling */

/* Navigation Styling */
/*nav.top {
	@mixin atMediumLarge {
		z-index: 4;
		margin: 0 auto;
		text-align: center;
		opacity: 1;
		width: 100%;
		height: 60px;
	}
}*/

/* Hide responsive menu and hamburger @mixin atMediumLarge and wider */
nav.hamburger {
	@mixin atMediumLarge {
		display: none;
	}
}

nav.top ul {
	@mixin atMediumLarge {
		padding: 0;
		list-style: none;
		//max-width: 880px;
		//width: 100%;
		//overflow: auto;
		//margin: 0 auto;
	}
}

nav.top a {
	@mixin atMediumLarge {
		text-decoration: none;
		display: block;
	}
}

nav.top a.active, nav.top a:hover {
	@mixin atMediumLarge {
		color: $mainRed;
	}
}

nav.top li {
	@mixin atMediumLarge {
		display: inline-block;
		text-align: center;
		letter-spacing: 0.1em;
		font-family: 'Dosis',sans-serif;
		font-weight: bold;
		width: 120px;
		//padding: 0.5rem;
		padding: 1rem 0.5rem;
	}
}

nav.top li a {
	@mixin atMediumLarge {
		color: $mainBlack;
		font-size: 18px;
	}
}

nav.top li a:hover {
	@mixin atMediumLarge {
		color: $mainAzure4;
		cursor: pointer;
	}
}

/* End Navigation Styling */

/* Navigation Animation Styling .top nav */

/* Pull right and left  */

div.container {
	@mixin atMediumLarge {
		text-align: center;
		margin: 0 auto;
		//padding: 10em 3em;
		background: $mainAntiqueWhite;
	}
}

div.container a {
	@mixin atMediumLarge {
		margin: 0px 10px;
		padding: 10px 10px;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
}

div.pull-right-left a:before, div.pull-right-left a:after {
	@mixin atMediumLarge {
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		content: '';
		background: $mainBrightRed;
		opacity: 0.3;
		transition: all 0.5s;
	}
}

div.pull-right-left a:before {
	@mixin atMediumLarge {
		left: 0;
	}
}

div.pull-right-left a:after {
	@mixin atMediumLarge {
		right: 0;
	}
}

div.pull-right-left a:hover:before, div.pull-right-left a:hover:after {
	@mixin atMediumLarge {
		width: 100%;
	}
}

/* End Pull right and left  */
